/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
src/bootstrap/compiled.php
src/storage/

# Laravel 5 & Lumen specific
src/public/storage
src/public/hot

# Laravel 5 & Lumen specific with changed public path
src/public_html/storage
src/public_html/hot

src/storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea
src/.editorconfig
src/.env.example
src/.gitattributes
src/.gitignore
src/.styleci.yml
src/README.md